<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-7 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right py-1">
      <a *ngIf="user?.role == 'ADMIN' || user?.role == 'ADMIN2' || user?.role == 'SM1'"  routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th data-toggle="true">#</th>
          <th>Name [username]</th>
          <th>Parent</th>
          <th>Client share(%)</th>
          <th>My P&L Balance</th>
          <th>P&L Balance</th>
          <th>Balance</th>
          <th>Remark</th>
          <th>Reference</th>
          <th *ngIf="user?.role != 'SA'">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}} [{{item.username}}]</td>
          <td>{{item.pName}}</td>
          <td>{{item.pl}}  %</td>
          <td><strong>{{item.myPlBalance}}</strong></td>
          <td><strong>{{item.plBalance}}</strong></td>
          <td><strong>{{item.balance}}</strong></td>
          <td>{{item.remark}}</td>
          <td>
            <p *ngIf="item.smCount > '0'" routerLink="/users/super-master/reference/{{item.id}}" class="super-master" title="Super Master">SM {{item.smCount}}</p>
            <p *ngIf="item.mCount > '0'" routerLink="/users/master/reference/{{item.id}}" class="master" title="Master">M {{item.mCount}}</p>
            <p *ngIf="item.cCount > '0'" routerLink="/users/client/reference/{{item.id}}" class="client" title="Client">C {{item.cCount}}</p>
          </td>
          <td *ngIf="user?.role != 'SA'" class="sm-buttons" nowrap="nowrap">
            <div>
              <a (click)="doStatusUpdate(item.id, 1)" class="btn btn-xs text-light border-0 bg-{{item.isBlock.class1}}" title="{{item.isBlock.text}}">
                <i class="mdi {{item.isBlock.class2}}"></i>
              </a>
              <a (click)="doStatusUpdate(item.id, 2)" class="btn btn-xs text-light border-0 bg-{{item.isLock.class1}}" title="{{item.isLock.text}}">
                <i class="mdi {{item.isLock.class2}}"></i>
              </a>
              <a (click)="doStatusDelete(item.id)" class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                <i class="mdi mdi-delete"></i>
              </a>
              <a *ngIf="user?.role == 'ADMIN'" routerLink="/sport-block-unblock/{{item.id}}" class="btn btn-xs btn-rp" title="Sport Block">SB</a>
              <a routerLink="/users/action/withdrawal/{{item.id}}" class="btn btn-xs btn-w " title="Withdrawal chips">W</a>
              <a routerLink="/users/action/deposit/{{item.id}}" class="btn btn-xs btn-d " title="Deposit chips">D</a>
              <a routerLink="/users/action/reset-password/{{item.id}}" class="btn btn-xs btn-rp" title="Reset Password">RP</a>
              <a routerLink="/reports/chip-history/{{item.id}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
              <a routerLink="/reports/profit-loss/{{item.id}}" class="btn btn-xs btn-pl " title="Profit Loss" target="_blank">PL</a>
              <a routerLink="/reports/casino-profit-loss/{{item.id}}" class="btn btn-xs btn-pl" title="Casino Profit Loss" target="_blank">CPL</a>
              <a routerLink="/reports/teenpatti-profit-loss/99/{{item.id}}" class="btn btn-xs btn-3pl" title="Live Game Profit Loss" target="_blank">LG</a>
              <a routerLink="/reports/teenpatti-profit-loss/999/{{item.id}}" class="btn btn-xs btn-3pl" title="Live Game 2 Profit Loss" target="_blank">LG2</a>
              <a routerLink="/reports/account-statement/{{item.id}}" class="btn btn-xs btn-as " title="Account Statement" target="_blank">AS</a>
            </div>
          </td>
        </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->
