<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-md-12 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}

        <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
          <i class="mdi mdi-filter pr-0"></i>
        </a>
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

       <!-- searchbar -->
       <div class="collapse" id="filter">
        <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-7">
                <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                  <div class="form-row align-items-center">
                    <div class="col-xl-3 col-6 mb-1">
                      <select class="form-control" required formControlName="type">
                        <option value="">Select Type</option>
                        <option value="all">All</option>
                        <option value="settlement">Settlement</option>
                        <option *ngIf="user.role == 'ADMIN' && !uid" value="admin-settlement">Admin Settlement</option>
                        <option *ngIf="user.role == 'ADMIN' && !uid" value="wl-settlement">W/L Settlement</option>
                      </select>
                    </div>
                    <div class="col-xl-3 col-6 mb-1">
                      <input type="date" required formControlName="start" class="form-control">
                      <!--<em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>-->
                    </div>
                    <div class="col-xl-3 col-6 mb-1">
                      <div class="input-group">
                        <input type="date" required formControlName="end" class="form-control">
                        <!--<em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>-->
                      </div>
                    </div>
                    <div class="col-xl-2 col-6 mb-1">
                      <div class="input-group">
                        <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xl-5 text-right">
                <div class="button-list">
                  <div class="dt-buttons btn-group">
                    <button type="button" (click)="filters('today')" class="btn btn-secondary mr-1" title="Today">
                      <span>Today</span>
                    </button>
                    <button type="button" (click)="filters('week')" class="btn btn-secondary mr-1" title="1 Week">
                      <span>1 Week</span>
                    </button>
                    <button type="button" (click)="filters('month')" class="btn btn-secondary mr-1" title="1 Month">
                      <span>1 Month</span>
                    </button>
                    <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                      <span>Export <i class="mdi mdi-file-excel"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- searchbar -->

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Description</th>
          <th class="text-center">credit</th>
          <th class="text-center">debit</th>
          <th class="text-center">balance</th>
          <th class="text-center">date & Time</th>
          <th>REMARK</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;" [ngClass]="{'line-through': item.status != 1}">
          <td>{{ i + page.start }}</td>
          <td>{{item.description}}</td>
          <td class="text-center"><span *ngIf="item.amount >= 0" style="color: green"><strong>{{item.amount}}</strong></span><span *ngIf="item.amount < 0" >0.0</span></td>
          <td class="text-center"><span *ngIf="item.amount < 0" style="color: red"><strong>{{item.amount}}</strong></span><span *ngIf="item.amount >= 0" >0.0</span></td>
          <td class="text-center"><strong>{{item.balance}}</strong></td>
          <td class="text-center">{{item.time}}</td>
          <td>{{item.remark}}</td>
          <td>
            <a *ngIf="item.mid && uid == null" routerLink="/reports/market-bet/{{item.mid}}" class="btn btn-account-viewbutton btn-xs text-capitalize text-white vdw-btn" target="_blank">view bets</a>
            <a *ngIf="item.mid && uid != null" routerLink="/reports/market-bet/{{item.mid}}/{{uid}}" class="btn btn-account-viewbutton btn-xs text-capitalize text-white vdw-btn" target="_blank">view bets</a>
          </td>
        </tr>
        </tbody>
        <!-- <tfoot *ngIf="total">
        <tr class="bg-dark">
          <td></td>
          <td class="text-white font-weight-bold text-right">Total : </td>
          <td class="text-white font-weight-bold">{{total == '0' ? '0.0' : total}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot> -->
      </table>
      <a *ngIf="lastMonth" routerLink="{{lastMonthUrl}}" target="_blank" class="mt-lg-0 mt-1 btn btn-xs btn-account-button text-uppercase font-weight-bold">{{lastMonth}}</a>
    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
