<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}

        <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
          <i class="mdi mdi-filter pr-0"></i>
        </a>
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <!-- search bar -->
      <div class="collapse" id="filter">
        <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-xl-7">
              <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                <div class="form-row align-items-center">
                  <div class="col-xl-3 col-6 mb-1">
                    <input type="date" required formControlName="start" class="form-control">
                    <!--<em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>-->
                  </div>
                  <div class="col-xl-3 col-6 mb-1">
                    <div class="input-group">
                      <input type="date" required formControlName="end" class="form-control">
                      <!--<em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>-->
                    </div>
                  </div>
                  <div class="col-xl-2 col-12 mb-1">
                    <div class="input-group">
                      <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-xl-5 text-right mx-0 px-0">
              <div class="button-list">
                <div class="dt-buttons btn-group">
                  <button type="button" (click)="filters('today')" class="btn btn-secondary mr-1" title="Today">
                    <span>Today</span>
                  </button>
                  <button type="button" (click)="filters('week')" class="btn btn-secondary mr-1" title="1 Week">
                    <span>1 Week</span>
                  </button>
                  <button type="button" (click)="filters('month')" class="btn btn-secondary mr-1" title="1 Month">
                    <span>1 Month</span>
                  </button>
                  <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                    <span>Export <i class="mdi mdi-file-excel"></i></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- search bar -->

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th *ngIf="user?.role == 'ADMIN'">Market Id</th>
          <th>Time</th>
          <th>Description</th>
          <th>Profit Loss</th>
          <th>Comm.</th>
          <th>Result</th>
          <!--<th>Action</th>-->
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{i + page.start}}</td>
            <td *ngIf="user?.role == 'ADMIN'"><b>{{item.marketId}}</b></td>
            <td>{{item.time}}</td>
            <td>{{item.description}}</td>
            <td>
              <strong *ngIf="item.pl < 0" style="color: red">{{item.pl}}</strong>
              <strong *ngIf="item.pl > 0" style="color: green">{{item.pl}}</strong>
              <strong *ngIf="item.pl == 0" style="color: green">0.0</strong>
            </td>
            <td>
              <strong *ngIf="item.comm < 0" style="color: red">{{item.comm}}</strong>
              <strong *ngIf="item.comm > 0" style="color: green">{{item.comm}}</strong>
              <strong *ngIf="item.comm == 0" style="color: green">0.0</strong>
            </td>
            <td>{{item.result}}</td>

          </tr>
        </tbody>
        <tfoot *ngIf="aListTotal">
        <tr class="bg-dark">
          <td class="text-white font-weight-bold">Total : </td>
          <td *ngIf="user?.role == 'ADMIN'"></td>
          <td></td>
          <td></td>
          <td class="text-white font-weight-bold">
            <strong *ngIf="aListTotal.pl < 0" style="color: red">{{aListTotal.pl}}</strong>
            <strong *ngIf="aListTotal.pl > 0" style="color: green">{{aListTotal.pl}}</strong>
            <strong *ngIf="aListTotal.pl == 0" style="color: green">0.0</strong>
          </td>
          <td class="text-white font-weight-bold">
            <strong *ngIf="aListTotal.comm < 0" style="color: red">{{aListTotal.comm}}</strong>
            <strong *ngIf="aListTotal.comm > 0" style="color: green">{{aListTotal.comm}}</strong>
            <strong *ngIf="aListTotal.comm == 0" style="color: green">0.0</strong>
          </td>
          <td></td>
          <!--<td></td>-->
        </tr>
        </tfoot>
      </table>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
