<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-12 align-items-center py-1">
      <h4 class="page-title pull-left">
        {{title}}
      </h4>
      <a routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase pull-right">Create
        New</a>
    </div>

    <!--back & create-->
    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">

        <thead class="bg-danger">
          <tr class="text-white">
            <th>#</th>
            <th>Key</th>
            <th>Value</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of aList; let i = index;">
            <td>{{ i + page.start }}</td>
            <td>{{item.key}}</td>
            <td style="white-space: unset;">{{item.value}}</td>
            <td class="sm-buttons" nowrap="nowrap">
              <div>
                <a (click)="changeStatus(item)"
                  class="btn btn-xs btn-white text-light border border-{{item.status.class1}}"
                  title="{{item.status.text}}">
                  <i class="fa {{item.status.class2}}"></i>
                </a>
                <a *ngIf="item.form_type === 0" (click)="updateSetting(item)"
                  class="btn btn-xs btn-white border border-success text-light" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a *ngIf="item.form_type === 1" title="Edit" (click)="updateSetting(item)"
                  class="btn btn-xs btn-white border border-success text-light">
                  <i class="mdi mdi-settings-outline"></i>
                </a>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->


<!-- Custom Modal -->
<div class="modal fade modal-s1 modal-one clear-settlement" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h4 class="modal-title text-light" id="myCenterModalLabel"> Key of <b>{{keyName}}</b></h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frm" (ngSubmit)="submitForm()">
          <div class="form-group mb-3">
            <label>Value</label>
            <div class="input-group">
              <textarea required formControlName="value" class="form-control"></textarea>
              <em class="show-error" *ngIf="frmValue.invalid && (frmValue.dirty || frmValue.touched)">Invalid
                Value!</em>
            </div>
            <p class="form-refer-text"> Value | Ex test </p>
          </div>

          <div class="form-group text-center">
            <div class="button-list">
              <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-success btn-md">Submit</button>
              <button class="btn btn-danger btn-md" data-dismiss="modal" aria-hidden="true"
                id="close-settlement">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- menu Setting Modal -->
<div class="wrap">
  <div class="modal fade modal-msetting modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body row justify-content-between bg-light border border-danger font-weight-bold ">
          <div class="col-xl-12 ctm-form">
            <div class="modal-header bg-dark">
              <h4 class="modal-title text-light" id="myCenterModalLabel"><b>{{keyName}}</b></h4>
              <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <div class="ctm-form-div">
                  <form [formGroup]="frmSetting" (ngSubmit)="submitForm()">

                    <div class="col-xl-12 row" *ngIf="fieldKey === 1">
                      <div class="form-group mb-3 col-xl-6">
                        <label>Max Odd Limit</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" required formControlName="Max_odd_limit" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error"
                            *ngIf="maxOddLmt.invalid && (maxOddLmt.dirty || maxOddLmt.touched)">Value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text"> Max Odd Limit | Ex 1000</p>
                      </div>

                      <div class="form-group mb-3 col-xl-6">
                        <label>Event Max Profit All Limit</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" required formControlName="Event_Max_profit_all_limit"
                            class="form-control" placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error"
                            *ngIf="eventMaxProfitAllLimit.invalid && (eventMaxProfitAllLimit.dirty || eventMaxProfitAllLimit.touched)">value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text">Event Max Profit All Limit | Ex 10000</p>
                      </div>
                    </div>

                    <div class="col-xl-12 row">
                      <div class="form-group mb-3 col-xl-6">
                        <label>Min Stack</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" required formControlName="Min_stack" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error" *ngIf="minStack.invalid && (minStack.dirty || minStack.touched)">Value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text">Min Stake | Ex 1000</p>
                      </div>

                      <div class="form-group mb-3 col-xl-6">
                        <label>Max Stack</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" required formControlName="Max_stack" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error" *ngIf="maxStack.invalid && (maxStack.dirty || maxStack.touched)">Value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text">Max Stake | Ex 1000</p>
                      </div>
                    </div>

                    <div class="col-xl-12 row" *ngIf="fieldKey !== 1">
                      <div class="form-group mb-3 col-xl-6">
                        <label *ngIf="keyName !== 'METER_SETTING'">Market Max Profit Limit</label>
                        <label *ngIf="keyName === 'METER_SETTING'">Market Max Expose Limit</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" maxlength="100" formControlName="Max_profit_limit" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error"
                            *ngIf="maxProfitLmt.invalid && (maxProfitLmt.dirty || maxProfitLmt.touched)">Value Invalid
                            !</em>
                        </div>
                        <p class="form-refer-text">Market Max Profit Limit | Ex 10000</p>
                      </div>

                      <div class="form-group mb-3 col-xl-6">
                        <label>Bet Delay</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" formControlName="Bet_delay" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error" *ngIf="betDelay.invalid && (betDelay.dirty || betDelay.touched)">Value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text">Bet Delay | Ex 1 Second</p>
                      </div>
                    </div>

                    <div class="col-xl-12 row" *ngIf="fieldKey === 1">
                      <div class="form-group mb-3 col-xl-6">
                        <label>Max Profit All Limit</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" formControlName="Max_profit_all_limit" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error"
                            *ngIf="maxProfitAllLmt.invalid && (maxProfitAllLmt.dirty || maxProfitAllLmt.touched)">Value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text">Max Profit All Limit | Ex 10000</p>
                      </div>
                      <div class="form-group mb-3 col-xl-6">
                        <label>Bet Delay</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input type="number" formControlName="Bet_delay" class="form-control"
                            placeholder="Enter value" aria-label="" aria-describedby="">
                          <em class="show-error" *ngIf="betDelay.invalid && (betDelay.dirty || betDelay.touched)">Value
                            Invalid !</em>
                        </div>
                        <p class="form-refer-text">Bet Delay | Ex 1 Second</p>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="modal-footer justify-content-center">
                  <div class="form-group">
                    <div class="button-list">
                      <button class="btn btn-success btn-md" (click)="submitForm()"
                        [ngClass]="{'disabled': !frmSetting.valid}">Submit</button>
                      <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>