<!-- Start Content-->
<div class="container-fluid border-danger border-left border-right border-bottom">

  <div class="row align-items-center pb-1">
    <div class="col-md-12 py-1">
      <h4 class="page-title d-inline">
        <a *ngIf="isBack" (click)="goToUserSummaryBack(pUserId)" class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>
        {{title}} <b *ngIf="cUserName"> -> {{cUserName}} </b>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 px-1">
      <!-- search bar -->
      <div class="collapse" id="filter">
        <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-7">
                <form [formGroup]="frm" (ngSubmit)="submitForm()">
                  <div class="form-row align-items-center">
                    <div class="col-xl-3 col-6 mb-1">
                      <input type="date" required formControlName="start" class="form-control">
                    </div>
                    <div class="col-xl-3 col-6 mb-1">
                      <div class="input-group">
                        <input type="date" required formControlName="end" class="form-control">
                      </div>
                    </div>
                    <div class="col-xl-2 col-12 mb-1">
                      <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark w-100">Search</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xl-5 text-right px-0 mx-0">
                <div class="button-list">
                  <div class="dt-buttons btn-group">
                    <button type="button" (click)="filters('today')" class="btn btn-secondary mr-1" title="Today">
                      <span>Today</span>
                    </button>
                    <button type="button" (click)="filters('week')" class="btn btn-secondary mr-1" title="1 Week">
                      <span>1 Week</span>
                    </button>
                    <button type="button" (click)="filters('month')" class="btn btn-secondary mr-1" title="1 Month">
                      <span>1 Month</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- search bar -->
      <div id="accordion" class="mb-1 accordion game-detail-acc settlement-plus">
        <div class="p-1">
          <table id="ScrollVertical" class="table bg-white nowrap m-0">
            <thead class="bg-dark">
            <tr>
              <th>No</th>
              <th>Name [ Username ]</th>
              <th>Admin</th>
              <th>Super Master 1</th>
              <th>Super Master 2</th>
              <th>Master</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody *ngIf="aList">
            <tr *ngFor="let items of aList; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>
                <span *ngIf="items.role == 'SM1' || items.role == 'SM2'" class="super-master">sm</span>
                <span *ngIf="items.role == 'M1' || items.role == 'M2'" class="master">m</span>
                <span *ngIf="items.role == 'C'" class="client">c</span>
                <b *ngIf="items.role != 'C'" (click)="goToUserSummary(items)">{{items.name}}</b>
                <b *ngIf="items.role == 'C'" >{{items.name}}</b>
              </td>
              <td>
                <strong *ngIf="items?.a < 0" style="color: red">{{items.a}}</strong>
                <strong *ngIf="items?.a > 0" style="color: green">{{items.a}}</strong>
                <strong *ngIf="items?.a == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="items.sm1 < 0" style="color: red">{{items.sm1}}</strong>
                <strong *ngIf="items.sm1 > 0" style="color: green">{{items.sm1}}</strong>
                <strong *ngIf="items.sm1 == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="items.sm2 < 0" style="color: red">{{items.sm2}}</strong>
                <strong *ngIf="items.sm2 > 0" style="color: green">{{items.sm2}}</strong>
                <strong *ngIf="items.sm2 == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="items.m1 < 0" style="color: red">{{items.m1}}</strong>
                <strong *ngIf="items.m1 > 0" style="color: green">{{items.m1}}</strong>
                <strong *ngIf="items.m1 == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="items.c < 0" style="color: red">{{items.c}}</strong>
                <strong *ngIf="items.c > 0" style="color: green">{{items.c}}</strong>
                <strong *ngIf="items.c == 0">0.0</strong>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td></td>
              <td>Total</td>
              <td>
                <strong *ngIf="aListTotal?.a < 0" style="color: red">{{aListTotal?.a}}</strong>
                <strong *ngIf="aListTotal?.a > 0" style="color: green">{{aListTotal?.a}}</strong>
                <strong *ngIf="aListTotal?.a == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="aListTotal?.sm1 < 0" style="color: red">{{aListTotal?.sm1}}</strong>
                <strong *ngIf="aListTotal?.sm1 > 0" style="color: green">{{aListTotal?.sm1}}</strong>
                <strong *ngIf="aListTotal?.sm1 == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="aListTotal?.sm2 < 0" style="color: red">{{aListTotal?.sm2}}</strong>
                <strong *ngIf="aListTotal?.sm2 > 0" style="color: green">{{aListTotal?.sm2}}</strong>
                <strong *ngIf="aListTotal?.sm2 == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="aListTotal?.m1 < 0" style="color: red">{{aListTotal?.m1}}</strong>
                <strong *ngIf="aListTotal?.m1 > 0" style="color: green">{{aListTotal?.m1}}</strong>
                <strong *ngIf="aListTotal?.m1 == 0">0.0</strong>
              </td>
              <td>
                <strong *ngIf="aListTotal?.c < 0" style="color: red">{{aListTotal?.c}}</strong>
                <strong *ngIf="aListTotal?.c > 0" style="color: green">{{aListTotal?.c}}</strong>
                <strong *ngIf="aListTotal?.c == 0">0.0</strong>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div> <!-- end #accordions-->
    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->