<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title text-light">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <!-- search bar -->
      <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-12">
          <div class="row">
            <div class="col-xl-12">
              <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                <div class="form-row align-items-center">
                  <div class="col-xl-3 col-6 mb-1">
                    <input placeholder="enter client" type="text" required formControlName="client" class="form-control">
                  </div>
                  <div class="col-xl-3 col-6 mb-1">
                    <input placeholder="enter runner" type="text" required formControlName="runner" class="form-control">
                  </div>
                  <div class="col-xl-6 col-12 mb-1">
                    <div class="input-group">
                      <button type="submit" class="btn btn-dark">Search</button>
                      <div class="button-list ml-1">
                        <div class="dt-buttons btn-group mb-0">
                          <button *ngIf="betIdsArr.length != 0" type="button" class="btn btn-danger" (click)="doBetDelete()">
                            Delete All Selected
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- search bar -->

    <div class="table-responsive t-height-46" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
         [immediateCheck]="true" [alwaysCallback]="true" [scrollWindow]="false" (scrolled)="onScroll()">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover mb-0">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Bet ID</th>
          <th>Runner</th>
          <th>Client</th>
          <th>Price</th>
          <th>Rate</th>
          <th>Stake</th>
          <th>P&L</th>
          <th>IP</th>
          <th>Master</th>
          <th>Time</th>
          <th *ngIf="cUserData?.role == 'ADMIN' && mtype != 'casino' && mtype != 'live-games' && mtype != 'live-games2'">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--<tbody infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
                 [immediateCheck]="true" [alwaysCallback]="true" [scrollWindow]="false" (scrolled)="onScroll()">-->
          <tr *ngFor="let item of aList; let i = index;" [ngClass]="{ 'bg-red': item.bType == 'lay' || item.bType == 'no' || item.bType == 'LAY' || item.bType == 'NO','bg-blue': item.bType == 'yes' || item.bType == 'back' || item.bType == 'YES' || item.bType == 'BACK'}">
            <td>{{ i + page.start }}</td>
            <td>{{getLastChar(item?.id?.$oid)}}</td>
            <td>{{item.runner}}</td>
            <td>{{item.client}}</td>
            <td>{{item.price}}</td>
            <td>{{item.rate}}</td>
            <td>{{item.stake}}</td>
            <td>{{item.pl}}</td>
            <td>{{item.ip}}</td>
            <td>{{item.master}}</td>
            <td>{{item.time}}</td>
            <td *ngIf="cUserData?.role == 'ADMIN' && mtype != 'casino' && mtype != 'live-games' && mtype != 'live-games2'">
             <!-- <i (click)="doBetDelete(item.id)" class="mdi mdi-delete btn btn-xs btn-danger"></i> -->
              <i (click)="pushDelete(item?.id?.$oid)" [ngClass]="{ 'mdi-delete' : !checkBetId(item?.id?.$oid), 'mdi-check' : checkBetId(item?.id?.$oid) }" class="mdi btn btn-xs btn-danger"></i>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
      <div><span>Showing 1 to {{loadCount}} of {{totalCount}} entries</span></div>
<!--    <button *ngIf="notEmptyPost && isLoadMore" type="button" class="btn btn-danger mt-2 text-uppercase font-weight-bold" (click)="onScroll()">Load More</button>-->
    </div>

  </div>
  <!-- end row -->

</div> <!-- container -->
