<!-- Right Sidebar -->
<div class="right-bar">

    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="mdi mdi-close"></i>
        </a>
    </div>

    <div class="slimscroll-menu">

        <div class="px-2 pt-0">
            <div class="checkbox checkbox-primary mb-2">
                <h5>Online Client <small><i class="mdi mdi-account-group text-danger"></i></small></h5>
                <button class="btn text-dark border border-light">450 Client</button>
                <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Tooltip on top">All Logout <i class="mdi mdi-logout"></i></button>
            </div>
        </div>

        <hr class="mb-0" />

        <div class="px-2">
            <div class="inbox-widget">
                <div class="inbox-item">
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>Client List</span>
                    </a>
                    <!-- item-->
                    <a href="setting.php" class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="change-password.php" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Change Password</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item logout-menu">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>
                </div>

            </div>
        </div>


    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
