<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center" *ngIf="user?.role === 'ADMIN'">
            <div class="checkbox checkbox-primary mb-2">
                <i class="fa fa-users text-light"></i>
                <h5 class="text-white mb-1">Online Client</h5>
                <button (click)="allUserLogout()" type="button" class="btn log-bg btn-rounded waves-effect waves-light">
                    <span class="btn-label">{{onLineClient}}</span> Logout All
                </button>
            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
              <ul *ngIf="mainMenuList" class="metismenu" id="side-menu">
                <li *ngFor="let item of mainMenuList">
                  <a *ngIf="item.child == '0'" class="mainmenuother activemenu" (click)="changeClass(2, item.title,item.id,1)" routerLink="{{item.url}}" id="{{item.id}}">
                        <i class="{{item.icon}}"></i>
                        <span> {{item.title}} </span>
                  </a>
                  <a *ngIf="item.child != '0'" class="mainmenuother activemenu" (click)="changeClass(2, item.title,item.id,0)" id="{{item.id}}">
                        <i class="{{item.icon}}"></i>
                        <span> {{item.title}} </span>
                    <span *ngIf="item.child != '0'" class="menu-arrow"></span>
                  </a>

                  <ul *ngIf="item.child != '0'" class="nav-second-level" aria-expanded="false">
                    <li *ngFor="let item2 of item.child;" class="{{item.class}}">
                      <a routerLink="{{item2.url}}" id="{{item2.id}}" (click)="changeSubClass(item2.id)">
                          <i class="{{item2.icon}}"></i>
                          {{item2.title}}</a>
                    </li>
                  </ul>
                </li>
<!--                  <li *ngIf="user.auth_id === 1">-->
<!--                      <a routerLink="/users/manage-system" >-->
<!--                          <img class="img-fluid" src="assets/img/icons/super-master.png" alt="icons">Manage System</a>-->
<!--                  </li>-->
              </ul>

            <a *ngIf="user?.role != 'SV'" class="nav-link top-searchbar d-sm-none d-block">
                <div class="input-group">
                    <input type="text" class="form-control user-search-val2" placeholder="Search By Username">
                    <div class="input-group-prepend">
                        <button class="btn" type="button" (click)="submitForm()"><i class="mdi mdi-search-web"></i></button>
                    </div>
                </div>
            </a>
        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->

<!-- search model -->
<div class="modal fade modal-search-mobile modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 90% !important; min-height: calc(100% - 30rem) !important;">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h4 class="modal-title text-light text-capitalize" id="myCenterModalLabel1">Search Result For: '{{searchUser}}' </h4>
                <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <p class="red error-font p-0 m-0" *ngIf="searchUserError">Something wrong! User not found!</p>
                    <table *ngIf="searchUserData != undefined"  class="table table-borderless dark-table-ui finder-table table-centered ctm-datables">
                        <thead>
                        <tr>
                            <th>Role</th>
                            <th>Name [username]</th>
                            <th>Parent</th>
                            <th *ngIf="searchUserData?.role != 'C'">Client share (%)</th>
                            <th>Pl Balance</th>
                            <th *ngIf="searchUserData?.role == 'C'">Available</th>
                            <th *ngIf="searchUserData?.role == 'C'">Expose</th>
                            <th>My Wallet</th>
                            <th *ngIf="searchUserData?.role != 'C'">Reference</th>
                            <th *ngIf="user?.role == 'ADMIN'">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td *ngIf="user?.role == 'ADMIN'">
                                <p *ngIf="searchUserData?.role == 'ADMIN2'" class="super-master">SA</p>
                                <p *ngIf="searchUserData?.role == 'SM1' || searchUserData?.role == 'SM2'" class="super-master">SM</p>
                                <p *ngIf="searchUserData?.role == 'M1'" class="master">M</p>
                                <p *ngIf="searchUserData?.role == 'C'" class="client">C</p>
                            </td>
                            <td>{{searchUserData?.name}}</td>
                            <td>{{searchUserData?.pName}}</td>
                            <td *ngIf="searchUserData?.role != 'C'">{{searchUserData?.pl}} %</td>
                            <td>{{searchUserData?.pl_balance}}</td>
                            <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.available}}</td>
                            <td *ngIf="searchUserData?.role == 'C'">{{searchUserData?.expose}}</td>
                            <td>{{searchUserData?.balance}}</td>
                            <td *ngIf="searchUserData?.role != 'C'">
                                <a *ngIf="searchUserData?.reference?.smCount && searchUserData?.reference?.smCount > '0'" target="_blank" routerLink="/users/super-master/reference/{{searchUserData?.uid}}" title="Super Master"><p class="super-master">SM {{searchUserData?.reference?.smCount}}</p></a>
                                <a *ngIf="searchUserData?.reference?.mCount && searchUserData?.reference?.mCount > '0'" target="_blank" routerLink="/users/master/reference/{{searchUserData?.uid}}" title="Master"><p class="master">M {{searchUserData?.reference?.mCount}}</p></a>
                                <a *ngIf="searchUserData?.reference?.cCount && searchUserData?.reference?.cCount > '0'" target="_blank" routerLink="/users/client/reference/{{searchUserData?.uid}}" title="Client"><p class="client">C {{searchUserData?.reference?.cCount}}</p></a>
                            </td>
                            <td>
                                <a (click)="doStatusUpdate(searchUserData?.uid, 1)" class="btn btn-xs text-light border-0 bg-{{searchUserData?.isBlock.class1}}" title="{{searchUserData?.isBlock.text}}">
                                    <i class="mdi {{searchUserData?.isBlock.class2}}"></i>
                                </a>
                                <a (click)="doStatusUpdate(searchUserData?.uid, 2)" class="btn btn-xs text-light border-0 bg-{{searchUserData?.isLock.class1}}" title="{{searchUserData?.isLock.text}}">
                                    <i class="mdi {{searchUserData?.isLock.class2}}"></i>
                                </a>
                                <a *ngIf="searchUserData?.role == 'C'" routerLink="/current-bets/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-clock" title="Bet History">
                                    <i class="mdi mdi-clock"></i>
                                </a>
                                <a *ngIf="searchUserData?.role == 'C'" routerLink="/users/client/setting/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-sett1" title="Setting">
                                    <i class="mdi mdi-settings-outline"></i>
                                </a>
                                <a (click)="doStatusDelete(searchUserData?.uid)" class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                                <a *ngIf="user?.role == 'ADMIN'" routerLink="/sport-block-unblock/{{searchUserData.id}}" class="btn btn-xs btn-rp" title="Sport Block">SB</a>
                                <a routerLink="/users/action/withdrawal/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-w" title="Withdrawal chips">W</a>
                                <a routerLink="/users/action/deposit/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-d" title="Deposit chips">D</a>
                                <a routerLink="/users/action/reset-password/{{searchUserData?.uid}}" target="_blank" class="btn btn-xs btn-rp" title="Reset Password">RP</a>
                                <a routerLink="/reports/chip-history/{{searchUserData?.uid}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
                                <a routerLink="/reports/profit-loss/{{searchUserData?.uid}}" class="btn btn-xs btn-pl" title="Profit Loss" target="_blank">PL</a>
                                <a routerLink="/reports/casino-profit-loss/{{searchUserData.uid}}" class="btn btn-xs btn-pl" title="Casino Profit Loss" target="_blank">CPL</a>
                                <a routerLink="/reports/teenpatti-profit-loss/99/{{searchUserData?.uid}}" class="btn btn-xs btn-3pl" title="Live Game Profit Loss" target="_blank">LG</a>
                                <a routerLink="/reports/teenpatti-profit-loss/999/{{searchUserData?.uid}}" class="btn btn-xs btn-3pl" title="Live Game 2 Profit Loss" target="_blank">LG2</a>
                                <a routerLink="/reports/account-statement/{{searchUserData?.uid}}" class="btn btn-xs btn-as" title="Account Statement" target="_blank">AS</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
