<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger font-weight-bold">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row" [ngClass]="{ 'justify-content-center' : cUserData?.role != 'ADMIN' }">
        <div class="" [ngClass]="{ 'col-xl-5' : cUserData?.role != 'ADMIN', 'col-xl-6' : cUserData?.role == 'ADMIN' }">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h4 class="form-group mb-2 pb-2 text-light">System Password</h4>
              <div class="form-group mb-3">
                <label>Password</label>
                <div class="input-group position-relative">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="{{passType2}}" minlength="6" maxlength="50" required formControlName="password" class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <i *ngIf="passType2 != 'password'" (click)="passType2 = 'password'" class="fa fa-eye" style="position: absolute;right: 15px;top: 13px;"></i>
                  <i *ngIf="passType2 == 'password'" (click)="passType2 = 'text'" class="fa fa-eye-slash" style="position: absolute;right: 15px;top: 13px;"></i>
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched) && frmPassword?.errors?.required">Password Invalid !</em>
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched) && frmPassword?.errors?.passwordInvalid  && !frmPassword?.errors?.required">Password minimum 6 characters,1 letter, 1 digits </em>
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched) && !frmPassword?.errors?.maxlength && !frmPassword?.errors?.passwordInvalid  && !frmPassword?.errors?.required">Password minimum 6 characters </em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz123ABC | min 6 | max 20</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="cUserData?.role == 'ADMIN'" class="col-xl-6">
          <div class="ctm-form-div">
            <form [formGroup]="frm2" (ngSubmit)="submitForm2()" >
              <h4 class="form-group mb-2 pb-2 text-light">Activity Password</h4>
              <div class="form-group mb-3">
                <label>Old Password</label>
                <div class="input-group position-relative">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="{{passType}}" minlength="6" maxlength="50" required formControlName="password1" class="form-control" placeholder="Old Password" aria-label="" aria-describedby="">
                  <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye" style="position: absolute;right: 15px;top: 13px;"></i>
                  <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash" style="position: absolute;right: 15px;top: 13px;"></i>
                  <em class="show-error" *ngIf="frmPassword1.invalid && (frmPassword1.dirty || frmPassword1.touched) && frmPassword1?.errors?.required">Password Invalid !</em>
                  <em class="show-error" *ngIf="frmPassword1.invalid && (frmPassword1.dirty || frmPassword1.touched) && frmPassword1?.errors?.passwordInvalid  && !frmPassword1?.errors?.required">Password minimum 6 characters,1 letter, 1 digits </em>
                  <em class="show-error" *ngIf="frmPassword1.invalid && (frmPassword1.dirty || frmPassword1.touched) && !frmPassword1?.errors?.maxlength && !frmPassword1?.errors?.passwordInvalid  && !frmPassword1?.errors?.required">Password minimum 6 characters </em>
                </div>
                <p class="form-refer-text"> Ex Ex xyz123ABC | min 6 | max 20</p>
              </div>
              <div class="form-group mb-3">
                <label>New Password</label>
                <div class="input-group position-relative">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="{{passType1}}" minlength="6" maxlength="50" required formControlName="password2" class="form-control" placeholder="New Password" aria-label="" aria-describedby="">
                  <i *ngIf="passType1 != 'password'" (click)="passType1 = 'password'" class="fa fa-eye" style="position: absolute;right: 15px;top: 13px;"></i>
                  <i *ngIf="passType1 == 'password'" (click)="passType1 = 'text'" class="fa fa-eye-slash" style="position: absolute;right: 15px;top: 13px;"></i>
                  <em class="show-error" *ngIf="frmPassword2.invalid && (frmPassword2.dirty || frmPassword2.touched) && frmPassword2?.errors?.required">Password Invalid !</em>
                  <em class="show-error" *ngIf="frmPassword2.invalid && (frmPassword2.dirty || frmPassword2.touched) && frmPassword2?.errors?.passwordInvalid  && !frmPassword2?.errors?.required">Password minimum 6 characters,1 letter, 1 digits </em>
                  <em class="show-error" *ngIf="frmPassword2.invalid && (frmPassword2.dirty || frmPassword2.touched) && !frmPassword2?.errors?.maxlength && !frmPassword2?.errors?.passwordInvalid  && !frmPassword2?.errors?.required">Password minimum 6 characters </em>
                </div>
                <p class="form-refer-text"> Ex Ex xyz123ABC | min 6 | max 20</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm2.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
