<!-- Start Content-->
<div class="container-fluid">

    <div class="row justify-content-between ">
  
      <!--back & create-->
      <div class="col-12 py-1">
        <h4 class="page-title">
          <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
            <i class="mdi mdi-arrow-left"></i> Back
          </a>-->
          {{title}}
  
          <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h4>
      </div>
      <!--back & create-->
  
      <div class="col-xl-12 bg-white py-2 ctm-datables">
  
        <!-- search bar -->
        <!-- <div class="collapse" id="filter">
          <div class="row py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
          <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-7">
                  <form [formGroup]="frm" (ngSubmit)="submitForm()">
                    <div class="form-row align-items-center">
                      <div class="col-xl-3 col-6 mb-1">
                        <input type="date" required formControlName="start" class="form-control">
                      </div>
                      <div class="col-xl-3 col-6 mb-1">
                        <div class="input-group">
                          <input type="date" required formControlName="end" class="form-control">
                        </div>
                      </div>
                      <div class="col-xl-2 col-12 mb-1">
                        <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark w-100">Search</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-xl-5 text-right px-0 mx-0">
                  <div class="button-list">
                    <div class="dt-buttons btn-group">
                      <button type="button" (click)="filters('today')" class="btn btn-secondary mr-1" title="Today">
                        <span>Today</span>
                      </button>
                      <button type="button" (click)="filters('week')" class="btn btn-secondary mr-1" title="1 Week">
                        <span>1 Week</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div> -->
        <!-- search bar -->
        <table *ngIf="isDefault" class="table w-100 nowrap table-hover">
          <thead class="bg-danger">
          <tr class="text-white">
            <th>Note</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Please select date Or click other search option for seen your profit loss entry !</td>
          </tr>
          </tbody>
        </table>
        <table *ngIf="!isDefault" id="{{dataTableId}}" class="table w-100 nowrap table-hover">
          <thead class="bg-danger">
            <tr class="text-white">
              <th>#</th>
              <th>Event Id</th>
              <th>Event Name</th>
              <th>Market Id</th>
              <th>Market Name</th>
              <!-- <th>Description</th> -->
              <th>Date</th>
              <!-- <th>Result</th> -->
              <th>Action</th>
              <th>Action By User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of aList; let i = index;">
              <td>{{i + page.start}}</td>
              <td>{{item.eventId}}</td>
              <td>{{item.eventName}}</td>
              <td>{{item.marketId}}</td>
              <td>{{item.marketName}}</td>
              <!-- <td>{{item.description}}</td> -->
              <td>{{item.date}}</td>
              <!-- <td><strong>{{item.result}}</strong></td> -->
              <td>
                <div *ngIf="item.game_over === 1 && item.recall === 0 && item.admin_recall_status === 1">
                  <button class="btn btn-xs btn-secondary mr-1"
                    (click)='gameOver(item)'>Game Over</button>
  
                  <button (click)='abundant(item)'
                    class="btn btn-xs btn-danger text-light text-uppercase">abundant</button>
                </div>
                <div *ngIf="item.game_over === 1  && item.admin_recall_status === 0">
                  <button class="btn btn-xs btn-secondary mr-1" (click)='gameRecall(item.marketId,item.eventId,item.mType)'>Game
                    Recall</button>
  
                  <button class="btn btn-xs border border-dark text-dark text-uppercase">result
                    : {{item.result}}</button>
                </div>
              </td>
              <td>
                <div>
                  <button class="btn btn-xs btn-secondary mr-1"
                          (click)='gameOverByUser(item)'>Game Over</button>
                  <button (click)='abundantByUser(item)'
                          class="btn btn-xs btn-danger text-light text-uppercase">abundant</button>
                </div>
                <div>
                  <button class="btn btn-xs btn-secondary mr-1" (click)='gameRecallByUser(item.marketId,item.eventId,item.mType)'>Game
                    Recall</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
  
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
