<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger font-weight-bold">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <div class="form-group mb-3">
                <label>Min Stack</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-arrow-down"></i>
                      </span>
                  </div>
                  <input type="text" minlength="2" maxlength="8" required formControlName="min_stack" class="form-control" placeholder="Min Stack" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMinStake.invalid && (frmMinStake.dirty || frmMinStake.touched)">Min Stack Invalid !</em>
                </div>
                <p class="form-refer-text"> Min Stack | Ex 500</p>
              </div>

              <div class="form-group mb-3">
                <label>Max Stack</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-arrow-up"></i>
                      </span>
                  </div>
                  <input type="text" minlength="2" maxlength="8" required formControlName="max_stack" class="form-control" placeholder="Max Stack" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxStake.invalid && (frmMaxStake.dirty || frmMaxStake.touched)">Max Stack Invalid !</em>
                </div>
                <p class="form-refer-text"> Max Stack | Ex 5000</p>
              </div>

              <div class="form-group mb-3">
                <label>Max Profit Limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-plus-circle"></i>
                      </span>
                  </div>
                  <input type="text" minlength="2" maxlength="8" required formControlName="max_profit_limit" class="form-control" placeholder="Max Profit Limit" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxProfitLimit.invalid && (frmMaxProfitLimit.dirty || frmMaxProfitLimit.touched)">Max Profit Limit Invalid !</em>
                </div>
                <p class="form-refer-text"> Max Profit Limit | Ex 50000</p>
              </div>

              <div class="form-group mb-3">
                <label>Max Expose Limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-minus-circle"></i>
                      </span>
                  </div>
                  <input type="text" minlength="2" maxlength="8" required formControlName="max_expose_limit" class="form-control" placeholder="Max Expose Limit" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxExposeLimit.invalid && (frmMaxExposeLimit.dirty || frmMaxExposeLimit.touched)">Max Expose Limit Invalid !</em>
                </div>
                <p class="form-refer-text"> Max Expose Limit | Ex 50000</p>
              </div>

              <div class="form-group mb-3">
                <label>Bet delay</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-clock-o"></i>
                      </span>
                  </div>
                  <input type="text" minlength="1" maxlength="2" required formControlName="bet_delay" class="form-control" placeholder="Bet Delay" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBetDelay.invalid && (frmBetDelay.dirty || frmBetDelay.touched)">Bet Delay Invalid !</em>
                </div>
                <p class="form-refer-text"> Bet Delay | Ex 1</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid}">Submit</button>
                  <button class="btn btn-danger btn-md" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
