<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title">
        Rules - Create
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <div class="form-group mb-3">
                <label>sport name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-running"></i>
                    </span>
                  </div>
                  <select required formControlName="category_name" *ngIf="sid == '0'" aria-describedby="emailHelp"
                          class="form-control m-input" type="select">
                    <option value="">Select Sport</option>
                    <option *ngFor="let item of sportArr; let i = index" value="{{item.name}}">{{item.name}}</option>
                  </select>

                  <input type="text" required formControlName="category_name" *ngIf="sid != '0'" readonly
                         class="form-control" placeholder="enter category" aria-label="" aria-describedby="">

                  <em class="show-error" *ngIf="frmSportName.invalid && (frmSportName.dirty || frmSportName.touched)">sport
                    name invalide</em>
                </div>
                <p class="form-refer-text">Sport Name | Ex Cricket</p>
              </div>


              <div class="form-group mb-3">
                <label>Category</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-signal"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="sub_category" class="form-control"
                         placeholder="enter category" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmCategory.invalid && (frmCategory.dirty || frmCategory.touched)">category
                    invalide</em>
                </div>
                <p class="form-refer-text">Key | Ex Fancy,match odd</p>
              </div>


              <div class="form-group mb-3">
                <label>Rule</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                  </div>
                  <textarea required formControlName="rule" class="form-control" placeholder="enter value" aria-label=""
                            aria-describedby=""></textarea>

                  <em class="show-error" *ngIf="frmrule.invalid && (frmrule.dirty || frmrule.touched)">rule
                    invalide</em>
                </div>
                <p class="form-refer-text"></p>
              </div>


              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">
                    submit
                  </button>
                  <a routerLink="/rules" class="btn btn-danger btn-md waves-effect waves-light">cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
