<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger font-weight-bold">

    <!--back & create-->
    <div class="col-12 py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <div class="form-group mb-3">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="{{passType}}" minlength="6" maxlength="50" required formControlName="password" class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye" style="position: absolute;right: 15px;top: 13px;"></i>
                  <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash" style="position: absolute;right: 15px;top: 13px;"></i>
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched) && frmPassword?.errors?.required">Password Invalid !</em>
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched) && frmPassword?.errors?.passwordInvalid  && !frmPassword?.errors?.required">Password minimum 6 characters,1 letter, 1 digits </em>
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched) && !frmPassword?.errors?.maxlength && !frmPassword?.errors?.passwordInvalid  && !frmPassword?.errors?.required">Password minimum 6 characters </em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz123ABC | min 6 | max 20</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled': !frm.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
